body
{
margin-top:70px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: linear-gradient(90deg,rgb(8, 8, 81),rgb(239, 77, 104));
}

#inputfield
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:51px;
    width:502px;
    border:solid black 2px;
    border-radius: 10px;
    padding: auto;
}

input[type='text']
{
height:49px;
width:370px;
margin-right:2px;
border-start-start-radius:9px ;
border-bottom-left-radius: 9px;
font-size: larger;
display: flex;
align-items: center;
justify-content: center;
}

button
{
    height:49px;
    width:130px;
    border-start-end-radius:9px ;
    border-end-end-radius: 9px;
    font-size: larger;
    background-color: rgb(7, 57, 126);
    color:cornsilk;
}
.container
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

img
{
height:500px;
width:500px;
justify-content: left;
}
#data
{
    color:ghostwhite;
    display: inline-flex;
}
table tr th
{
    padding: 10px;
    font-size: 36px;
    text-align: justify;
}
table tr:first-child td
{
    font-size:36px;
    font-weight: bolder;
}

table tr td
{
    font-size: 24px;
    text-align: justify;
}
/* #imgalign
{
margin-left:50px;
float:left;
}
#data
{
    float: right;
} */
